<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME</h1>
    <h2>BIRTHDAY List Creator</h2>
    <form action="/" method="post">
        <label>Date</label>
            <input type="text" name="date" placeholder="DD-MM-YYYY">
        <label>PERSON Name</label>
            <input type="text" name="name" placeholder="Name">
        <button type="submit">submit</button>

    </form>
</body>
</html>